{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Manohar Trust</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'main/TheEvent/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/TheEvent/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'main/TheEvent/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'main/TheEvent/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/TheEvent/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/TheEvent/lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'main/TheEvent/lib\owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'main/TheEvent/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="{%  static 'main/TheEvent/img/logo.png' %}" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#coordinators">Co-ordinators</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#supporters">Sponsors</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">Donate</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Manohar Trust</h1>
      <p class="mb-4 pb-0">Be a part of helping poor people with us</p>
      <a href="https://www.youtube.com/watch?v=ZCKYQbE3i4k" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Trust</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Trust</h2>
            <p>The vision of our trust is to work with the marginalized and under – privileged rural populace; to pull it out of poverty and place it on a new platform of economic self-sufficiency, morality and prosperity. We aim to provide complete support, protection and care to needy and deprived people in the society with special focus on rural communities; and aim to bring in change in their lives.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Hyderabad,Telangana.</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Sunday - Saturday<br>24/7</p>
          </div>
        </div>
      </div>
    </section>

    

    <!--==========================
      Schedule Section
    ============================-->

    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Upcoming Event Schedule</h2>
          <p>Come join with us in serving society</p>
        </div>

        <h3 class="sub-heading">Here are the Confirmed event going to conduct by us,join with us in this wonderful moments</h3>

        <div class="tab-content row justify-content-center">

      
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
{% if not e %}
 <div class="row schedule-item">
      
              <div style="margin:auto;">
                <h4>No Events Yet</h4>
              </div>
         
{% else %}
{% for i in e %}
            <div class="row schedule-item">
              <div class="col-md-2"><time>{{ i.event_date }}</time></div>
              <div class="col-md-10">
                <h4>{{ i.title }}</h4>
                <p>{{ i.content }}</p>
                <p>LOCATION : {{ i.location }}</p>
              </div>
            </div>
{% endfor %}
{% endif %}
          </div>
          

        
    <!--==========================
      Coordinators Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Trust Coordinators</h2>
          <p>Here are some of our Coordinators</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/1.jpg' %}" alt="Speaker 1" class="img-fluid" height="640" width="480">
              <div class="details">
                <h3><a>Ananth Sir</a></h3>
                <p>Founder and Coordinator</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/2.jpg' %}" alt="Speaker 2" class="img-fluid" height="640" width="480">
              <div class="details">
                <h3><a>Dinesh Reddy</a></h3>
                <p>Coordinator</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/3.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a>Mahesh</a></h3>
                <p>Coordinator</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>              
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/4.jpg' %}" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a>Jack Christiansen</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>            
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/5.jpg' %}" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a>Alejandrin Littel</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>                  
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{%  static 'main/TheEvent/img/speakers/6.jpg' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a>Willow Trantow</a></h3>
                <p>Non autem dicta</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>                  
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

   

   
    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
      {% for i in img %}
        <a href="{{ i.img.url }}" class="venobox" data-gall="gallery-carousel"><img src= "{{ i.img.url }}" alt=""></a>
       {% endfor %}
       </div>
    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/1.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/2.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/3.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/4.jpg' %}g" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/5.png' %}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/6.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/7.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{%  static 'main/TheEvent/img/supporters/8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

   
    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Get our new updates to your mail</p>
        </div>

        
          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="email" class="form-control" placeholder="Enter your Email" id="emaila" name="emaila">
            </div>
            <div class="col-auto">
              <a id="add"><button>Subscribe</button></a>
            </div>
          </div>
      </div>
    </section>


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Talk to us for more information</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Hyderabad,Telangana</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+91 9505199898">+91 9505199898</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:manoharsevasamithi@gmail.com">manoharsevasamithi@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="{% static 'main/TheEvent/img/logo.png' %}" alt="TheEvenet">
            <p>The vision of our trust is to work with the marginalized and under – privileged rural populace; to pull it out of poverty and place it on a new platform of economic self-sufficiency, morality and prosperity. We aim to provide complete support, protection and care to needy and deprived people in the society with special focus on rural communities; and aim to bring in change in their lives.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Hyderabad <br>
              Telangana<br>
              India <br>
              <strong>Phone:</strong> +91 9505199898 <br>
              <strong>Email:</strong> manoharsevasamithi@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/ManoharTrust" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/manohartrust" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/manoharsevasamithi" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://in.linkedin.com/in/manohar-trust-46a6261a3" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2020 Copyright <strong>Manohar Trust</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'main/TheEvent/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'main/TheEvent/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/TheEvent/js/email_add_ajax.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'main/TheEvent/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'main/TheEvent/js/main.js' %}"></script>
</body>

</html>
